<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SSILVA_log.Properties.Settings.Almacen1ConnectionString"
            connectionString="Data Source=DESKTOP-P0J7R4I\SQLSTEF;Initial Catalog=Almacen1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>